@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: rgb(3, 0, 15);
  --color-foreground: rgb(255, 255, 255);

  --color-slate-350: rgb(175.5, 188, 204.5);

  --breakpoint-1640: 1640px;

  --animate-shiny-text: shiny-text 8s infinite;

  @keyframes shiny-text {
    0%,
    90%,
    100% {
      background-position: calc(-100% - var(--shiny-width)) 0;
    }
    30%,
    60% {
      background-position: calc(100% + var(--shiny-width)) 0;
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

.gradient-accent {
  @apply text-transparent bg-clip-text bg-indigo-50;
}

main p {
  @apply mb-4 leading-6;
}

main strong {
  @apply text-slate-100;
}

/* Add this to your global CSS file */
html {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 100px; /* Adjust this value as needed */
}

.blog-list p {
  @apply line-clamp-2! text-slate-350! leading-normal! mb-0!;
}

/* Markdown */
.article-content h1,
.article-content h2,
.article-content h3 {
  @apply text-lg font-semibold text-slate-100 mt-6 mb-2;
}

.article-content h4,
.article-content h5,
.article-content h6 {
  @apply text-sm font-semibold text-slate-200 mt-6 mb-2;
}

.article-content a {
  @apply text-blue-400 underline hover:text-pink-400 transition-all;
}

.article-content strong {
  @apply font-medium;
}

.article-content ul {
  @apply list-disc list-inside ml-5;
}

.article-content li {
  @apply mb-2 text-slate-350;
}

.article-content pre.wp-block-preformatted {
  @apply rounded-lg overflow-hidden mt-2 mb-4;
}

.article-content pre code {
  @apply p-4! rounded-lg font-mono text-xs overflow-auto block;
}

.article-content hr {
  @apply border-slate-500 border w-full my-4;
}

.article-content p {
  @apply mb-2;
}

.article-content figure {
  @apply rounded-xs max-w-[80%] w-fit mx-auto relative mb-2;
}

.article-content img {
  @apply mx-auto;
}

.article-content figcaption {
  @apply text-slate-350 text-[10px] mb-2 text-center italic;
}

.article-content .invert img {
  @apply invert!;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #444; /* Dark scrollbar thumb */
  border-radius: 10px;
}
